﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-image:url("../background.jpg") ;
    background-attachment: fixed;
}
html, body {
    margin: 0;
    padding: 0;
}
#header{
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    min-width: 250px;

}
#share{
    float:right;
}
#link{
    text-decoration:none;
    display: block;
    height: 25px;
    width: 70px;
    background: rgb(35, 181, 254);
    border: 2px solid rgba(35, 181, 254, 0.59);
    text-align:center;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 2px #1b383b;
}
#loading img{
    position:absolute;
    top:50%;
    left:50%;
    z-index:11;
}
.picture {
    width:100%;
    display: inline-block;
    position:relative;
    height: 300px;
    width: 300px;
    margin: 5px;
    background: rgba(128, 128, 128, 0.5);
}

.picture img{
    display:none;
    max-height:300px;
    max-width:300px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.picture span {
    position:absolute;
    top:70%;
    width:100%;
    height:30%;
    color: #ffffff;
    background-color:#000000;
    text-align:center;
    vertical-align:middle;
    z-index: 10;
    display:none;
    overflow:hidden;
}
.picture:hover span {
    display:block;
}
@media only screen and (max-width: 1920px){ .textField{width: 450px}}
@media only screen and (max-width: 600px){ .textField{width: 250px}}
@media only screen and (max-width: 400px){ .textField{width: 150px}}