﻿@{
    ViewBag.Title = "Index";
}

<div id="header">
    @Html.TextBox("tags", null, new { placeholder = "Search images", @class="textField" })
    <div id="share">
       <a id="link" href="">Share...</a>
    </div>
</div>
<div id="loading"></div>
<div id="container"></div>
