﻿@model List<FlickrTest.Models.FlickrImage>

@{
    ViewBag.Title = "Share";
}

<div id="loading"></div>
@foreach (FlickrTest.Models.FlickrImage img in Model)
{
    <div class="picture">
        
        <span>@Html.DisplayFor(modelItem=>img.Title)</span>
        <img src="@Html.DisplayFor(modelItem=>img.ImageUrl)" alt="Picture not available" />
    </div>
}
